{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="m-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ discussion.title }}</h1>
            <p class="card-subtitle text-muted mb-3">{{ discussion.created_at|date:"F j, Y H:i" }}</p>
            <p class="card-text">{{ discussion.user.username }}</p>
            <p class="card-text">{{ discussion.content }}</p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <form method="get" action="{% url 'reading_forum:discussion_list' %}">
        <button type="submit" class="btn btn-outline-danger mt-5 mb-2">Back to Discussion List</button>
    </form>
    <h4>Replies</h4>
    <form method="get" action="{% url 'reading_forum:reply_form' discussion.id %}">
        <button type="submit" class="btn btn-primary my-3">Reply</button>
    </form>

    <div class="row mx-1">
        {% for reply in replies %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {% if reply.user.is_superuser %}
                    <span class="badge bg-success">Admin</span>
                    {% endif %}
                    {{ reply.user.username }}
                </h5>
                <h6 class="card-subtitle text-muted">{{ reply.created_at|date:"F j, Y H:i" }}</h6>
                <p class="card-text">{{ reply.content }}</p>

                <!-- Button to reply to this reply -->
                <button class="btn btn-primary reply-to-this" data-reply-id="{{ reply.id }}">Reply to
                    this</button>

                <div class="reply-form" data-hidden="true">
                    <form method="post" action="{% url 'reading_forum:reply_form' discussion.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quoted_reply_id" value="{{ reply.id }}">
                        {{ reply_form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

<style>
    div[data-hidden="true"] {
        display: none;
    }
</style>

<script>
    $(document).ready(function () {
        // handle klik tombol "Reply to this"
        $(".reply-to-this").click(function () {
            var replyId = $(this).data("reply-id"); // Mendapatkan ID reply
            var replyForm = $("form[action='reading_forum:reply_form']");

            // Set nilai quoted_reply_id dengan ID balasan yang akan di-reply
            var quotedReplyIdInput = replyForm.find("input[name='quoted_reply_id']");
            quotedReplyIdInput.val(replyId);

            // Toggle reply form bedasarakan data-hidden
            var replyFormDiv = $(this).parent().find(".reply-form");
            var isHidden = replyFormDiv.data("hidden");
            replyFormDiv.data("hidden", !isHidden);
            replyFormDiv.toggle();


        });
    });

</script>

</div>
{% endblock %}