{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/user.css' %}">

<div class="container">
    <div class="row d-flex">
        <nav class="col-sm-4 mt-4">
            <div class="card shadow d-flex mr-1 align-items-center text-center text-wrap h-100 justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" viewBox="0 0 16 16"
                    style="margin: 20px 15px 5px 15px;">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <div style="display: flex; flex-direction: column; margin-top: 10px;">
                    <h3>{{ first_name }} {{ last_name }}</h3>
                    <h5 style="opacity: 0.7; margin-bottom: 20px;">{{ username }}</h5>
                </div>
            </div>
        </nav>

        <div class="col-sm-8 mt-4">
            <div class="card shadow ml-1 h-100 p-4" style="justify-content: center;">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        Email
                    </div>
                    <div class="col-md-9 text-secondary">
                        {{ email }}
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-md-3">
                        Phone number
                    </div>
                    <div class="col-md-9 text-secondary">
                        {{ phone_number }}
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-md-3">
                       Domicile
                    </div>
                    <div class="col-md-9 text-secondary">
                        {{ domicile }}
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-primary px-3" data-bs-toggle="modal" data-bs-target="#editProfile">Update Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex ml-2">
        <div class="col-md mt-4">
            <div class="card shadow" style="padding: 20px 20px 10px 20px;">
                <h5 style="margin-bottom: 15px;">Like</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <h6 class="mb-0">Judul Buku</h6>
                    </li>
                    <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <h6 class="mb-0">Judul Buku</h6>
                    </li>
                    <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <h6 class="mb-0">Judul Buku</h6>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md mt-4">
            <div class="card shadow" style="padding: 20px 20px 10px 20px;">
                <h5 style="margin-bottom: 15px;">Comment</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <h6 class="mb-0">Comment</h6>
                    </li>
                    <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <h6 class="mb-0">Comment</h6>
                    </li>
                    <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                        <h6 class="mb-0">Comment</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label for="name" class="col-form-label">First Name :</label>
                        <input type="text" class="form-control" id="fname" name="fname"></input>
                    </div>
                    <div class="mb-2">
                        <label for="name" class="col-form-label">Last Name :</label>
                        <input type="text" class="form-control" id="lname" name="lname"></input>
                    </div>
                    <div class="mb-2">
                        <label for="description" class="col-form-label">Email :</label>
                        <input type="text" class="form-control" id="email" name="email"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="price" class="col-form-label">Phone number :</label>
                        <input type="text" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-2">
                        <label for="description" class="col-form-label">Domicile:</label>
                        <input type="text" class="form-control" id="domicile" name="domicile"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save" data-bs-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function updateProfile() {
        console.log("masuk")
        fetch("{% url 'user:update_profile' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        })
        console.log("sini")

        document.getElementById("form").reset()
        return false
    }

    function clearForm(){}

    document.getElementById("button_save").onclick = updateProfile
</script>

{% endblock content %}