{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ discussion.title }}</h1>
    <p>{{ discussion.user.username }}</p>
    <p>{{ discussion.created_at|date:"F j, Y H:i" }}</p>
    <p>{{ discussion.content }}</p>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form method="get" action="{% url 'reading_forum:discussion_list' %}">
    <button type="submit" class="btn btn-primary">Back to Discussion List</button>
</form>
<h4>Replies</h4>
<form method="get" action="{% url 'reading_forum:reply_form' discussion.id %}">
    <button type="submit" class="btn btn-primary">Reply</button>
</form>

<div class="row mx-1">
    {% for reply in replies %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ reply.user.username }}</h5>
                <h6 class="card-subtitle text-muted">{{ reply.created_at|date:"F j, Y H:i" }}</h6>
                <p class="card-text">{{ reply.content }}</p>
               
                <!-- Button to reply to this reply -->
                <button class="btn btn-primary reply-to-this" data-reply-id="{{ reply.id }}">Reply to this</button>
                
                <div class="reply-form" style="display: none;">
                    <form method="post" action="{% url 'reading_forum:discussion_detail' discussion_id=discussion.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quoted_reply_id" value="{{ reply.id }}">
                        {{ reply_form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    

    <script>
        $(document).ready(function() {
            // handle klik tombol "Reply to this"
            $(".reply-to-this").click(function() {
                var replyId = $(this).data("reply-id"); // Mendapatkan ID reply
                var replyForm = $("form[action='{% url 'reading_forum:discussion_detail' discussion_id=discussion.id %}']");
                var quotedReplyIdInput = replyForm.find("input[name='quoted_reply_id']");


        
                // Menampilkan/menyembunyikan formulir balasan
                if (replyForm.is(":visible")) {
                    replyForm.hide();
                } else {
                    replyForm.show();
                }
            });

        });
        </script>
        
</div>
    
{% endblock %}
