{% extends 'base.html' %}
{% block content %}
<div class="book-details">
    <h1 class="book-title">
        {{ book.title }}
    </h1>
    <a class="book-author" href="{% url 'main:author' book.author.id  %}">
        {{ book.author.name }}
    </a>
    <img class="book-banner" src="{{ book.cover_url }}" />
    <ul>
        {% for tag in tags %}
        <li>{{ tag.subject }}</li>
        {% endfor %}
    </ul>
</div>

<style>
    .book-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .book-banner {
        width: 30%;
        min-width: 150px;
        object-fit: cover;
    }

    .book-title {
        margin-top: 30px;
        text-align: center;
    }
</style>
{% endblock content %}