{% extends "container.html" %}
{% block container_content %}

<div class="d-flex justify-content-center">
    <div>
        <h1 class="mt-3">Books by Tag</h1>
        <a href="{% url "main:search_form" %}">Go Back</a>
            {% for tag_subject, books in books_by_tag.items %}
            <h2 class="mt-3">{{ tag_subject }}</h2>
            <ul>
                {% for book in books %}
                    <li class="mb-2"><a href="/book/{{book.pk}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {{ book.title }} by {{ book.author.name }}</a></li>
                {% empty %}
                    <li>No books found with this tag.</li>
                {% endfor %}
            </ul>
            {% endfor %}
    </div>
</div>

{% endblock container_content %}